[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
flask = "*"
pandas = "*"
pandasql = "*"
flask-cors = "*"

[dev-packages]
pre-commit = "*"
flake8 = "*"
isort = "*"
autopep8 = "*"

[requires]
python_version = "3.9"
